body {
  margin: 0;
  font-family: Arial;
}

header {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: #fff;
  position: sticky;
  top: 0;
}

input, select {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

#contenedor {
  height: calc(100vh - 60px);
  overflow: auto;
  background: #eee;
}

svg {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ccc;
  cursor: grab;
}

svg.dragging {
  cursor: grabbing;
}

.aula {
  cursor: pointer;
}

.aula-activa,
.aula-activa text {
  fill: red !important;
  stroke: black !important;
  stroke-width: 1px !important;
  paint-order: stroke;
  font-weight: bold;
}

.search-match,
.search-match text {
  fill: orange !important;
  stroke: black !important;
  stroke-width: 1px !important;
  paint-order: stroke;
  font-weight: bold;
}

#debug-info {
  display: none;
}

#debug-piso {
  display: none;
}


